body{
    margin:0 auto;
    text-align:center;
    background-color:#d2d2d2;
}
#calc_body{
    margin:0 auto;
    height:20rem;
    width:10rem;
    background-color:#ffffff;
    border-radius: 10px;
    display:inline-block;
    box-shadow:2px 2px 2px #f2f2f2 ;
}

/*containers*/
#input_element_container{
    margin:0 auto;
    height: 10rem;
    width:20rem;
    border:solid 1p #dbd9d9;
    background-color:#ffffff;
}
#top_container{
    margin:0;
    height:5rem;
    width:20rem;
    display:block;
    position: relative;
    left:32.2rem;
    background-color:#ffffff;
}
#number_container{
    margin:0 auto;
    height:20rem;
    width:15rem;
    display:block;
    position: relative;
    left:-2.5rem;
    background-color:#ffffff;
}
#operator_container{
    height:20rem;
    width:5rem;
    display: block;
    position: relative;
    top:-20rem;
    left:47.2rem;
    background-color:white;
}

/*display*/
#display{
    width:20rem;
    height:4rem;
    border:none;
    background-color:#ffffff;
    font-size:3.5rem;
    display:inline-block;
    margin:1rem 0 3rem 0;
    text-align:right;
    font-family: 'Roboto', sans-serif;
    border-bottom-style: inset;
}
/*buttons*/
button{
    margin:4px;
    height:70px;  
    width:70px;
    display:inline-block;
    font-size:3.5rem;
    border-radius: 35px;
    border:1px solid #56503A;
    font-family: 'Yantramanav', sans-serif;
    color:#3A3924;
    opacity:.8;
    background-color:#ffffff;
}

/*top container*/
#clear_button{
    height:70px;  
    width:70px;
    position: relative;
    top:-24rem;
    background-color:#ff940f;
    color:#ffffff;
    border:none;
}
#percent_button{
    height:70px;  
    width:70px;
    position: relative;
    top:-24rem;
    background-color:#ffffff;
    color:#ffffff;
    border:1px solid #56503A;
}
#division_button{
    height:70px;  
    width:70px;
    position: relative;
    top:-24rem;
    background-color:#ffffff;
    color:#ffffff;
    border:1px solid #56503A;
}
#backspace_button{
    height:70px;  
    width:70px;
    position: relative;
    top:-28.9rem;
    left:12.5rem;
    background-color:#ff940f;
    color:#ffffff;
    border:none;
}

#equal_button{
    height:70px;  
    width:70px;
    position: relative;
    top:-9.3rem;
    left: 7.5rem;
    z-index: 1;
    background-color:#595b58;
    color:#ffffff;
    border:none;
}

/*operator buttons*/
#operator_button_0{
    height:70px;  
    width:70px;
    background-color:#828282;
    color:#ffffff;
    border:none;
}
#operator_button_1{
    background-color:#828282;
    color:#ffffff;
    border:none;
}
#operator_button_2{
    background-color:#828282;
    color:#ffffff;
    border:none;
}
#operator_button_3{
    background-color:#828282;
    color:#ffffff;
    border:none;
}
#operator_button_4{
    background-color:#828282;
    color:#ffffff;
    border:none;
}








/*
.pressed{
    color:white;
    transition:.4s;
}
.released{
     color:black;
     transition:.4s;
}
*/
