body{
    background-color:grey;
}
.calc{
    margin:0 auto;
    height:20rem;
    width:15rem;
    border:solid #eaec00 1px;
    background-color:#e5e291;
}
#screen{
    height: 10%;
    width:80%;
    position: relative;
    background-color:#ffffff;
}

.calc{
    margin:5px;
    height:40%;
    width:35%;
    float:left;
}

img{
    height: 2rem;
    width:80%;
}
